<div class="container">
<div class="row">
<div class="col-sm-12 col-md-1 col-lg-2"></div>
<div class="col-sm-12 col-md-10 col-lg-8">
  <h2><%= params[:category] %> Articles</h2>
  <div class="d-flex flex-row justify-content-center"><%== pagy_bootstrap_nav(@pagy)%></div>
    <%= render 'articles_list'%>
  <div class="d-flex flex-row justify-content-center my-3"><%== pagy_bootstrap_nav(@pagy)%></div>
</div>
</div>
</div>