@import 'bootstrap/dist/css/bootstrap';

$color-yellow-light: #ad9800;
$color-yellow: #685b00;
$color-yellow-dark: #352f00;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-yellow; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-yellow-dark; 
}

body {
  padding-top: 58px;
}

.bg-dark {
  background-color: $color-yellow-dark !important;
}

a {
 color: $color-yellow-dark;
}

a:hover {
  color: $color-yellow;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 61, 0, 0.25);
  border-color: #eeeeee;
}

.text-dark {
  color: $color-yellow-dark !important;
}

.text-dark:hover {
  color: $color-yellow !important;
}

.article-title-style {
  color: black;
  font-size: 1.3em;
}

a.article-title-style:hover {
  text-decoration: underline $color-yellow-light;
  color: black;
}

a.btn-xs, input.btn-xs {
  padding: 0.25rem 0.3rem;
  font-size: 0.7rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

.sticky-top {
  top: 62px
}

.alert {
  margin: 0 5px;
}

.alert-notice {
  color: $color-yellow-light;
  background-color: $color-yellow;
  border-color: $color-yellow-dark;
}

.alert-success {
  color: $color-yellow;
  background-color: $color-yellow-light;
  border-color: $color-yellow;
}

.page-link {
  color: $color-yellow-dark;
}

.page-link:hover {
  color: $color-yellow-dark;
  font-weight: bold;
}

.page-item.active .page-link {
  background-color: $color-yellow;
  border-color: $color-yellow;
}

.btn-dark {
  color: #fff;
  background-color: $color-yellow-dark;
  border-color: $color-yellow-dark;
}

.btn-dark:hover {
  background-color: $color-yellow;
  border-color: $color-yellow;
}

.btn-secondary {
  background-color: $color-yellow;
  border-color: $color-yellow;
}

.btn-secondary:hover {
  background-color: $color-yellow-dark;
  border-color: $color-yellow-dark;
}

.badge-secondary {
  color: #fff;
  background-color: $color-yellow;
}

.text-small {
  font-size: 0.8em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

.text-big {
  font-size: 1.7em !important;
  line-height: 1em !important;
  padding: 0;
  margin: 0;
}

.text-light-yellow {
  color: $color-yellow-light;
}

.article-text-area {
  height: 400px !important;
}

.article-miniature-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.custom-select{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 4 5'%3e%3cpath d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: $color-yellow;
  color: white;
}

.custom-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 61, 0, 0.25);
}

.hand-hover:hover {
  cursor: pointer;
}

.card {
  width: 25rem;
}

.top-card-image {
  height: 25vh;
  object-fit: cover;
}

.article-list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vh-100 {
  height: calc(100vh - 58px) !important;
}

.vh-50 {
  height: 50vh;
}

.vh-25 {
  height: 25vh;
}

.vw-100 {
  width: calc(100vw - 10px);
}

.vw-50 {
  width: calc(50vw - 10px);
}

.vw-25 {
  width: calc(25vw - 10px);
}

.w-20 {
  width: calc(20% - 4px);
}

.active {
  color: white;
}

.page-content {
  min-height: calc(100vh - 116px);
}